

.body {
    color: black;
    display: flex;
    flex-direction: row;
    height: 90vh;


  }
  
  .cadastro {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-right: 300PX;
    margin-left: 5px;
  }

  .lista{

    margin-top: 150px;
    margin-bottom: 100px;
    margin-right: 200PX;
  }
  
  h2 {
    display: flex;
    flex-direction: column;
  }
 

  
  